$primary-color: #9381FF;
$background-color: #161521;
$background-secondary-color: #202230;
$text-color: #FFF;
$secondary-text: #534F7D;

$locked-btn-color: #626893;


$header-height: 8rem;

$font: 'Manrope'
